.blocksdiv{
    padding: 50px;
    .blockstext{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        padding: 10px 0;
    }
}
.MuiTableCell-root{
    padding: 10px !important;
}