.blocksdiv{
    padding: 50px;
    .blockstext{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        padding: 10px 0;
    }
}
.MuiTableContainer-root{
    background-color: azure !important;
}
.MuiTableCell-root{
    padding: 10px !important;
}
.root{
    width: '100%',
}
.container{
    maxheight: 440,
}
.MuiTableCell-stickyHeader{
    background-color: #F8FAFD !important;
}