.root {
  width: 100%;
  > p {
    padding: 10px;
  }
}
.txndiv {
  width: 85%;
  margin: 0 auto;
}
.root {
  width: 100%;
}
h3 {
  margin: 15px;
}
.main {
  background: #f5f6f8;
}

.container {
  max-height: 440;
  background: #f8f9fa;
}
h2 {
  margin: 10px;
}
p {
  display: block;
  font-size: 14px;
}
.jss359 {
  color: #4a4f55;
}
.box-header {
  width: 85%;
  margin: 0 auto;
  .h3 {
    margin: 10px;
  }
}
.detail {
  width: 85%;
  margin: 0 auto;
  background: #fff;
  height: 202px;
  margin-bottom: 30px;
  .detail-head {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0px;
    strong {
      display: inline-block;
      border-bottom: 1px solid #e7eaf3;
      color: #4a4f55;
    }
  }
  .detail-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    color: #212136;
    .jss193 {
      height: 45px;
      width: 580px;
      span {
        display: inline-block;
        margin-right: 10px;
        text-transform: Capitalize;
      }
      .jss197 {
        border: 0;
        border-top: 1px solid #e7eaf3;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }
    }
  }
}
